.section-container {
    margin-top: 2rem;
   }

  aside{
    background: #25407d;
    position: absolute!important;
    height: 100vh;
    @include media-breakpoint-down(sm) {
      width: 100%!important;
      max-width: 100%!important;
      height: 50vh;
      position: relative!important;
    }
}

main{
    margin-right: 0;
    margin-left: auto;
}


aside section.block{
  display: flex;
  flex-direction: column;
  justify-content: center;
  @include media-breakpoint-down(sm) {
    height: 50vh;
  }
}

section.block{
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  &.contact{
    @include media-breakpoint-down(sm) {
      height: 50vh;
    }
  }
}

section.block2 {
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: all .7s linear;
  align-items: center;
  text-align: center;
  &.left-to-right {
		transform: translateX(-100%) translateY(-50%);
		&.in-view {
			transform: translateX(0) translateY(0);
		}
  }
  &.right-to-left {
		transform: translateX(100%);
		&.in-view {
			transform: translateX(0);
		}
	}
}
section.block3 {
  height: 20vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

section.block4 {
  padding: 5rem;
  display: flex;
  flex-direction: column;
  @include media-breakpoint-down(lg) {
    padding: 3rem;

}
}