/* =Footer
========================================================================================*/
.footer {
    position: fixed;
    z-index: 121;
    bottom: 50px;
    left: 60px;
    right: 60px;
}